.header {
    background-color: #B2E2FF;
    padding: 1rem;
    text-align: center;
  }

  .header a.active-link {
    color: #7E0EED; /* Color for the active link */
    font-weight: bold; /* You can adjust the styling as needed */
  }
  
  a {
    text-decoration: none;
    color: #181818;
    margin: 0 1rem;
    font-weight: bold;
  }
  
