.user-list {
  padding: 2rem;
  background-color: #f1f1f1;
  border-radius: 5px;
  margin: 2rem;
}

.error-message {
  color: #800ff0;
  margin-bottom: 10px;
}

button {
  margin: 0 10px;
  background-color: #800ff0;
  color: #f1f1f1;
  padding: .55rem;
  border-color: #800ff0;
  border-radius: 5px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  color: #800ff0;
  border: 2px solid 
}


th, td {
  border: 1px solid #800ff0;
  padding: 8px;
  text-align: center;
  color: #181818;
}

img {
  max-width: 50px;
  max-height: 50px;
}
